	<h1 style="color:#3C545F;margin-top:6%;margin-left:25%;font-size:60px;">"</h1>
	<h3 style="color:#3C545F;text-align:center;margin-left:-7%;">Testimonials</h3>

<div class="row" style="width:100%;">
	<div class="col-md-1 col-md-offset-3" style="padding-right:1px;">
		<%=image_tag('t1.png', class: "ti img-circle")%>
	</div>
	<div class="col-md-5" style="padding-left:0;padding-top:1%;">
		<p style="color:#7D919B;margin-top:2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in egestas purus.</p>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row" style="width:100%;">
	<div class="col-md-1 col-md-offset-3" style="padding-right:1px;margin-top:1%;">
		<%=image_tag('t2.png', class: "ti img-circle")%>
	</div>
	<div class="col-md-5" style="padding-left:0;padding-top:1%;">
		<p style="color:#7D919B;margin-top:2%;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row" style="width:100%;">
	<div class="col-md-1 col-md-offset-3" style="padding-right:1px;margin-top:1%;">
		<%=image_tag('t3.png', class: "ti img-circle")%>
	</div>
	<div class="col-md-5" style="padding-left:0;padding-top:1%;">
		<p style="color:#7D919B;margin-top:2%;">Quisque justo nunc, lacinia ut nisl in, semper facilisis sem. Etiam facilisis tellus et nisl consectetur sollicitudin. Ut pharetra eget libero in facilisis.</p>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row" style="width:100%;">
	<div class="col-md-1 col-md-offset-3" style="padding-right:1px;margin-top:1%;">
		<%=image_tag('t4.png', class: "ti img-circle")%>
	</div>
	<div class="col-md-5" style="padding-left:0;padding-top:1%;">
		<p style="color:#7D919B;margin-top:2%;">Mauris efficitur nibh at vulputate blandit. Vivamus et sollicitudin quam, ut bibendum quam. Pellentesque laoreet augue leo.</p>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row" style="width:100%;">
	<div class="col-md-1 col-md-offset-3" style="padding-right:1px;margin-top:1%;">
		<%=image_tag('t5.png', class: "ti img-circle")%>
	</div>
	<div class="col-md-5" style="padding-left:0;padding-top:1%;">
		<p style="color:#7D919B;margin-top:2%;">Vestibulum purus felis, aliquam nec tortor at, sollicitudin facilisis neque. Suspendisse enim nunc, sagittis vel elementum nec, feugiat et neque.</p>
	</div>
	<div class="col-md-3"></div>
</div>
<h1 style="color:#3C545F;margin-top:2%;margin-left:73%;font-size:60px;">"</h1>